// Colors
$garnet-red: #841720;
$gold: #ead18a;
$red: #bd1220;
$green: #007c35;

// Fonts
$font-system: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
  "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto,
  noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium",
  "century gothic", "Liberation Sans", sans-serif;
$font-oswald-bold: "Oswald-Bold", $font-system;
$font-oswald: "Oswald-Medium", $font-system;
$font-gin: "Gin", $font-oswald-bold;

// Breakpoints
$bp-nav: 991px;
$bp-dual: 730px;
$bp-header: 900px;
$bp-quotes: 40em;

.eb-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/edizio-berezia/texture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: calc(100vh - 8rem);
  @media (min-width: $bp-nav) {
    min-height: calc(100vh - 4.5rem);
  }
}

.eb-green {
  color: $green;
}
.eb-red {
  color: $red;
}

.eb-container {
  box-sizing: border-box;
}

.eb-container img {
  max-width: 100%;
  height: auto;
}

.eb-container h1,
.eb-container h2,
.eb-container h3,
.eb-container h4,
.eb-container h5 {
  font-family: $font-gin;
}

.eb-header {
  color: white;
  background-image: url("../assets/edizio-berezia/header-bg.jpg");
  background-attachment: fixed;
  text-align: center;
}

.eb-header__title {
  line-height: 1.1;
  font-size: 10vw;
  @media (min-width: $bp-header) {
    font-size: 5rem;
  }
  .eb-red,
  .eb-green {
    font-size: 1.2em;
  }
}

.eb-header__subtitle {
  font-family: $font-oswald;
  letter-spacing: -0.05em;
  line-height: 1.1;
  font-size: 1.3rem;
  padding: 0 1rem;
  @media (min-width: $bp-header) {
    font-size: 1.66rem;
  }
}

.eb-header__separator {
  display: block;
  width: 1.8em;
  height: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.eb-header__logo {
  display: block;
  width: 120px;
  margin-top: 5rem;
}

.eb-dual {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @media (min-width: $bp-dual) {
    flex-direction: row;
    align-items: center;
  }
}

.eb-dual--reverse {
  // flex-direction: column-reverse;
  @media (min-width: $bp-dual) {
    flex-direction: row-reverse;
  }
}

.eb-dual--yellow {
  @media (max-width: $bp-dual) {
    .eb-dual__half:first-child {
      background-image: linear-gradient($gold, $gold),
        url("../assets/edizio-berezia/texture.jpg");
      background-blend-mode: multiply;
    }
  }
  @media (min-width: $bp-dual) {
    background-blend-mode: multiply;
    background-image: linear-gradient(
        to right,
        $gold 0%,
        $gold 50%,
        transparent 50%,
        transparent 100%
      ),
      url("../assets/edizio-berezia/texture.jpg");
    &.eb-dual--reverse {
      background-image: linear-gradient(
          to left,
          $gold 0%,
          $gold 50%,
          transparent 50%,
          transparent 100%
        ),
        url("../assets/edizio-berezia/texture.jpg");
    }
  }
}

.eb-dual--red {
  color: $gold;
  @media (max-width: $bp-dual) {
    .eb-dual__half:first-child {
      background-image: linear-gradient($garnet-red, $garnet-red),
        url("../assets/edizio-berezia/texture.jpg");
      background-blend-mode: multiply;
    }
  }
  @media (min-width: $bp-dual) {
    background-image: linear-gradient(
        to right,
        $garnet-red 0%,
        $garnet-red 50%,
        transparent 50%,
        transparent 100%
      ),
      url("../assets/edizio-berezia/texture.jpg");
    background-blend-mode: multiply;
    &.eb-dual--reverse {
      background-image: linear-gradient(
          to left,
          $garnet-red 0%,
          $garnet-red 50%,
          transparent 50%,
          transparent 100%
        ),
        url("../assets/edizio-berezia/texture.jpg");
    }
  }
}

.eb-dual__half {
  position: relative;
  max-width: 800px;
  padding: 2em;
  @media (min-width: $bp-dual) {
    width: 50%;
  }

  &:first-child {
    &:before,
    &:after {
      content: "";
      display: block;
      border-top: 4px solid $garnet-red;
    }
    &:before {
      margin-bottom: 1rem;
    }
    &:after {
      margin-top: 1rem;
    }
  }
  .eb-dual--reverse &:first-child {
    &:before,
    &:after {
      display: none;
    }
    & + .eb-dual__half {
      &:before,
      &:after {
        content: "";
        display: block;
        border-top: 4px solid $garnet-red;
      }
      &:before {
        margin-bottom: 1rem;
      }
      &:after {
        margin-top: 1rem;
      }
    }
  }
}

.eb-dual__half h2 {
  color: white;
  line-height: 1;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 16vw;
  max-width: 550px;
  @media (min-width: 700px) {
    font-size: 10vw;
  }
  @media (min-width: 1900px) {
    font-size: 10rem;
  }
}

.eb-dual__half p {
  font-family: $font-oswald;
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1em;
  max-width: 505px;

  span {
    color: white;
  }
}

.eb-dual__image {
  display: block;
  @media (max-width: $bp-dual) {
    width: 420px;
    margin: 0 auto;
  }
}

.eb-quotes {
  position: relative;
  padding: 2rem;
  @media (min-width: $bp-quotes) {
    padding: 4rem;
  }

  &:after {
    content: "";
    display: block;
    pointer-events: none;
    border: 1rem solid $garnet-red;
    @media (min-width: $bp-quotes) {
      border-width: 2rem;
    }
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.eb-quotes {
  dl {
    color: $green;
    text-align: center;
    line-height: 1.1;
  }

  span {
    color: $red;
  }

  dt {
    text-transform: uppercase;
    font-size: 1.2rem;
    @media (min-width: $bp-quotes) {
      font-size: 1.5rem;
    }
  }

  dd {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

.eb-quotes__separator {
  display: block;
  width: 1.8em;
  height: 1.8em;
  margin-top: 1.4em;
  margin-bottom: 1.1em;
}

.eb-video {
  iframe {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.eb-video__inner {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 9/16 * 100%;
  }
}

.eb-footer {
  padding: 2rem;
  text-align: center;
  background-image: url(../assets/edizio-berezia/stamp.png),
    url(../assets/edizio-berezia/texture.jpg);
  background-position: 106% -3%, center center;
  background-size: 30% auto, cover;
  @media (min-width: 60em) {
    background-size: 300px auto, cover;
  }
}

.eb-footer__text {
  font-family: $font-oswald;
  font-size: 1.3rem;
  line-height: 1.3;
  max-width: 24em;
}

.eb-footer__thanks {
  font-family: $font-oswald;
  color: $garnet-red;
  text-transform: uppercase;
  margin-top: 0.8em;
  font-size: 1.8rem;
  @media (min-width: $bp-quotes) {
    font-size: 2.4rem;
  }
}

.eb-footer__logo {
  display: block;
  width: 120px;
  margin-top: 5rem;
}
